:root {
    --dimension-1: 1px;
    --dimension-2: 2px;
    --dimension-5: 5px;
    --dimension-10: 10px;
    --dimension-25: 25px;
    --dimension-50: 50px;
    --dimension-100: 100px;
    --dimension-150: 150px;
    --dimension-350: 350px;
}