/* font imports */
@font-face {
    font-family: "Inter";
    src: url('../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
/* font variables */
:root{
    --main-font: "Montserrat";
    --secondary-font: "Inter";

    --text-xxl: 3.052rem;
    --text-xl: 2.441rem;
    --text-md: 1.953rem;
    --text-sm: 1.563rem;
    --text-xs: 1.25rem;
    --text-xxs: 1rem;

    --text-btn: 0.8rem;

    --text-error: 0.4rem;
}