body {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    min-height: 100dvh;
    font-family: var(--main-font);
    font-size: var(--text-xs);
    display: flex;
    flex-direction: column;
}