[id="app"] {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

[id="app"] > main {
  padding: 0 350px;
  position: relative;
}

h1 {
  margin-bottom: var(--space-lg);
}

form {
  display: flex;
  flex-direction: column;
}
