/* inrhit main color */
a {
    color: inherit;
    text-decoration: none;
}
/* limit image width */
img {
    max-width: 100%;
}
/* remove scrollbar in chrome etc. */
body::-webkit-scrollbar {
    display: none;
  }