/** buttons style **/
/** button send style **/
.button-send {
    background-color: var(--accent-color-light);
    border: 1px solid var(--main-color-light);
    border-radius: 4px;
    font-size: var(--text-s);
    color: var(--main-color-dark);
    cursor: pointer;
    padding: var(--space-s);
    align-self: center;
}
/** button send hover effect **/
.button-send:hover {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
}
/** button shake animation if form is not valid **/
.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

/* button main header */
.header-btn {
  padding: var(--space-s) var(--space-lg);
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  border: none;
  border-radius: var(--space-lg);
  cursor: pointer;
  font-size: var(--text-btn);
  font-weight: bold;
}
.header-btn:hover {
  color: var(--accent-color-light);
}