/**
* Contact page styles
*/

/* container styles */
.contact-container {
  display: flex;
  justify-content: space-between;
  gap: var(--space-xl);
  margin-top: var(--space-lg);
}
/* form sent message animation */
.message-enter-active, .message-leave-active {
  transition: all 400ms ease-in-out;
}
.message-enter-from, .message-leave-to {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 0.8);
}
/* error message styles */
.input-error {
  color: var(--secondary-color-medium);
  font-size: var(--text-xxs);
  font-weight: 500;
}
/* social media links container styles */
.contact-social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--space-xl);
}

.contact-social-element > a {
  color: var(--main-color-light);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--space-s);
}
/* social media icon svg styles */
.contact-social-element svg {
  width: 48px;
  height: 48px;
}
/* social media text styles */
.contact-social-element span {
  font-size: var(--text-xxs);
  font-weight: 500;
}

.contact-social-element > a:hover {
  color: var(--accent-color-light);
  transition: all 0.3s ease-in-out;
}
/* form animation */
.contact {
  animation: scaleElement 2s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scaleElement {
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0.6;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/* social media links animation */
.contact-social-element {
  animation: fadeInElement 2s ease;
  animation-fill-mode: both;
  animation-delay: 1s;
  opacity: 0;
}

.contact-social-element:nth-child(2) {
  animation-delay: 1.5s;
}

.contact-social-element:nth-child(3) {
  animation-delay: 2.0s;
}

.contact-social-element:nth-child(4) {
  animation-delay: 2.5s;
}

@keyframes fadeInElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* adapt the contact section to smaller screens */

@media screen and (max-width: 1500px) {
  body > main {
    padding: 0 200px;
  }
  [id="main-navigation"] {
    padding: 0 200px;
  }
  .main-header {
    padding: 0 200px;
  }
}

@media screen and (max-width: 1200px) {
  body > main {
    padding: 0 100px;
  }
  [id="main-navigation"] {
    padding: 0 100px;
  }
  .main-header {
    padding: 0 100px;
  }
}

@media screen and (max-width: 968px) {
  body > main {
    padding: 0 50px;
  }
  [id="main-navigation"] {
    padding: 0 50px;
  }
  .main-header {
    padding: 0 50px;
  }
  .contact-social-element span {
    display: none;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .form-group input {
    width: 100%;
  }
}
  