.message-enter-active, .message-leave-active {
  transition: all 400ms ease-in-out;
}
.message-enter-from, .message-leave-to {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 0.8);
}

.contact, .contact-title {
  padding: 0 350px;
}

.input-error {
  color: var(--secondary-color-light);
  font-size: var(--text-xxs);
}
.contact-title {
  font-size: var(--text-xl);
  text-align: left;
  margin-bottom: var(--space-lg);
}
