/* Dropdown language selector component */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 10;
}
/* links in dropdown */
.dropdown-content a {
  color: var(--main-color-dark);
  padding: var(--space-s);
  text-decoration: none;
  display: block;
  cursor: pointer;
}
/* flag images in dropdown inactive state */
.dropdown-content img {
  filter: grayscale(70%);
}
/* flag images in dropdown hover state */
.dropdown-content img:hover {
  filter: grayscale(0%);
  filter: drop-shadow(0 0 4px var(--main-color-light));
}
/* Dropdown Content (Hidden by Default) */
.dropdown .dropdown-content {
  display: none;
}

/* Show the dropdown content when the dropdown is clicked on */
.dropdown.open .dropdown-content {
  display: block;
}
/* Dropdown Button style */
.dropbtn {
  background-color: transparent;
  padding: var(--space-s);
  border: none;
  cursor: pointer;
}

.dropbtn img {
  height: 24px;
}