/**
* Navigation
*/
/* navigation composition */
[id="main-navigation"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 0 350px;
}
[id="main-navigation"] > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* navigation links to the right */
.main-navigation-links {
    margin-left: auto;
}

.main-navigation-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-lg);
}

/* navigation links font styles */
.main-navigation-links > a {
    color: var(--main-color-light);
    font-family: var(--secondary-font);
    font-size: var(--text-xxs);
    font-weight: 500;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition: text-decoration 350ms ease-in-out;
}

/* navigation links hover styles */
.main-navigation-links > a:hover {
    text-decoration: underline var(--main-color-light);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}
/* navigation links active page styles */
.main-navigation-links>a.router-link-exact-active {
    color: var(--accent-color-light);
}
/* navigation dropdown button not visible on desktop */
[id="main-navigation"] > button {
    display: none;
}
/* animation for navigation */
[id="main-navigation"] {
    animation: navFadeIn 2s ease-in-out;
    transform: translate(0, 0);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes navFadeIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
/* adaptive navigation */
@media screen and (max-width: 968px) {
    [id="main-navigation"] {
      background-color: var(--main-color-dark);
      z-index: 10;
    }
    [id="main-navigation"] button {
      display: flex;
      background-color: var(--main-color-dark);
      color: var(--main-color-light);
      border: none;
      font-size: 1.5rem;
    }
    [id="main-navigation"] .main-navigation-links {
      display: none;
      flex-direction: column;
      position: absolute;
      justify-content: flex-start;
      top: 100px;
      right: 0;
      background-color: var(--main-color-dark);
      opacity: 0.85;
      width: 50%;
      padding: var(--space-lg);
      height: 100dvh;
    }
    [id="main-navigation"] .main-navigation-links.show {
      display: flex;
    }
    [id="main-navigation"] .main-navigation-links a {
      margin: var(--space-s) 0;
    }
    .main-navigation-links.show {
      animation: slideIn 600ms ease-in-out;
    }
    @keyframes slideIn {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
  }