figure > img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--space-lg);
}
.project-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: var(--main-color-light);
    border-radius: var(--space-xs);
    color: var(--main-color-dark);
    overflow: hidden;
}
.project-card-image {
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
}
.project-card-info {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-grow: 1;
    gap: var(--space-lg);
    padding: var(--space-lg);
}
.project-card-links {
    display: flex;
    gap: var(--space-lg);
}

.project-card-links a {
    margin-bottom: 0;
    color: var(--main-color-dark);
    border-radius: var(--space-s);
    text-align: center;
}
.product-card-tech {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;
}
.product-card-tech > span:hover{

    transform: scale(1.2);
}