figure > img {
    display: block;
    object-fit: cover;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--space-lg);
}
.project-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 400px;
    background-color: var(--main-color-light);
    border: 3px solid var(--accent-color-medium);
    border-radius: var(--space-s);
    color: var(--main-color-dark);
    box-shadow: 0px 20px 30px -10px var(--accent-color-light);
}
.project-card-image {
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
}
.project-card-info {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-grow: 1;
    gap: var(--space-lg);
    padding: var(--space-lg);
}
.project-card-info p {
    font-size: var(--text-xxs);
}
.project-card-links {
    display: flex;
    gap: var(--space-lg);
}

.project-card-links a {
    margin-bottom: 0;
    color: var(--main-color-dark);
    text-align: center;
}
.project-card-tech {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;
}
.project-card-tech > span:hover{
    transform: scale(1.2);
}

.project-card {
    animation: animationCard 2s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animationCard {
    0% {
        transform: perspective(500px) rotate3d(0, -1, -1, 90deg) scale(0.1);
        transform-style: preserve-3d;
        opacity: 0.5;
    }
    100% {
        transform: perspective(500px) rotate3d(0, 0, 0, 0deg) scale(1);
        opacity: 1;
    }
}